$prev_next_redius:0 3px 3px 0;
$prev_next_border_radius: 3px 0 0 3px;
$prev_next_hover_bg_color:rgba(0,0,0,0.8);
$defaultColor: rgb(82,121,136);

.char-card{
	text-align: center;
  a:hover {
    background-color:transparent;
  }

}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -20px;
  padding: 15px;
  color: $defaultColor;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: $prev_next_redius;
  user-select: none;
}
.next {
  right: 0;
  border-radius:$prev_next_border_radius;
}
		
.prev {
	left: 0;
	border-radius: $prev_next_border_radius;
}
.prev:hover, .next:hover {
  background-color: $prev_next_hover_bg_color;
}