.header{
  color: red;
  text-align: center;
  padding-top: 70px;
}

.navbar{
  background-color: black;
  height:200px;
}

.searchbar{
  text-align: center;
  padding: 10px;
}

.button{
	background: black;
	color: red;
}

.w3-ul{
	list-style-type:none;
	padding:0;
	margin:0
}
.w3-ul li{padding:8px 16px;border-bottom:1px solid #ddd}
.w3-ul li:last-child{border-bottom:none}
.w3-card-4,.w3-hover-shadow:hover{
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
	width:auto;
}
.w3-bar{
	width:100%;
	overflow:hidden

}

/* W3.CSS 4.12 November 2018 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

.character_name{
	font-size: 20px;
	padding-left: 15px;
}

.ui.avatar.image, .ui.avatar.image img, .ui.avatar.image svg, .ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.images svg{
	width: 5em;
    height: 5em;
}

.radiodiv{
	text-align: center;
}
.radioinput {
	padding: 5px;
}
.menu {
	background-color: black;
	text-align: center;
	padding: 10px;
}

a {
	padding: 10px;
	color: white;
}

a:hover {
	background-color: yellow;
	color:red;
}
a.active {
	background-color: yellow;
	color: red;
}
